
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Welcome to Mc Donald's Book store Application</h1>
    <h1>current time is @DateTime.Now.ToString("yyy-mm-dd")</h1>
    <h1>sum =@(3 + 7)</h1>
    @{ 
        int y;
        int x =(100) + 1;
        y = x * 20;

    }}
    <h1>Ternary @y>5?x=10:by=90)</h1>

    @if (y>5)
    
    {
        y--;
    <h1>great stuff</h1>
    }
    <h1>@y</h1>
    @{
    int a =10;
    }

    @switch (a)
    {
        case 1:<h1>I am 1</h1>
         break;
        default:<h1>I am default</h1>
            break;

           

    }
</body>
</html>
